body {
    margin:0;
    padding:0;
}

nav {
    /* background-color:rgb(165, 165, 165); */
    height:250px;
}

.gb_Pe{
    color:black;
    width:25px;
    height:25px;
}
nav ul li{
    float:left;
    display:block;
    margin: 25px;
}